<!DOCTYPE html>
<html llang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/theme.css">
	<style>
#footer {
    padding: 15px 0;
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
#topcontrol {
  color: #fff;
  z-index: 99;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #222;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}

#topcontrol:after {
  /*top: -2px;*/
  left: 8.5px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}

#topcontrol:hover {
    color: #fff;
    background: #18ba9b;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

	</style>
  </head>
  <body>
 <div class="navbar-wrapper">
      <div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <div class="container">
				<div class="navbar-header">
				  <a class="navbar-brand" th:href="@{/projects}" style="font-size:32px;">众筹网-创意产品众筹平台</a>
				</div>
            <div id="navbar" class="navbar-collapse collapse" style="float:right;">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${user.getUsername()}"><i class="glyphicon glyphicon-user"></i> 张三<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a th:href="@{/user/userinfo}"><i class="glyphicon glyphicon-scale"></i> 会员中心</a></li>
                    <li class="divider"></li>
                    <li><a th:href="@{/user/logout}"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                  </ul>
                </li>
              </ul>
            </div>
			  </div>
			</nav>

      </div>
    </div>
<div class="container">
	<div class="row clearfix">
		<div class="col-sm-3 col-md-3 column">
			<div class="row">
				<div class="col-md-12">
					<div class="thumbnail" style="    border-radius: 0px;">
						<img src="/img/services-box1.jpg" class="img-thumbnail">
						<div class="caption" style="text-align:center;">
							<h3 th:text="${user.getUsername()}" th:if="${not #strings.isEmpty(user)}"></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="list-group">
				<a class="list-group-item " style="cursor:pointer;" th:href="@{/user/myfunding}">
					我的众筹<span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span>
				</a>
                <a class="list-group-item " th:href="@{/user/userinfo}">
                    个人资料<span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span>
                </a>
				<a class="list-group-item active" th:href="@{/user/address}">
				    收货地址<span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span>
				</a>
			</div>
		</div>
        <div class="col-sm-9 col-md-9 column">
			<div class="panel panel-default">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            我的收货地址
			        </h3>
			    </div>
			    <div class="panel-body" >
					<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal">添加地址</button>
					<hr>
					<div th:each="address:${addressList}">
						<label th:text="'地址'+${addressStat.index+1}"></label>
						<a type="button" class="btn btn-danger btn-xs" th:href="@{/user/address/delete(addressId=${address.getId()})}">×</a>
						<div class="well" th:text="${address.toString()}"></div>
						<hr>
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加收件地址</h4>
            </div>
            <div class="modal-body">
				<form role="form" th:action="@{/user/address/add}" method="post">
					<div class="form-group">
						 <label >收件人姓名</label>
						 <input type="text" name="realname" class="form-control" style="width: 300px;"/>
					</div>
					<div class="form-group">
						 <label >联系方式</label>
						 <input  type="text" name="tel" class="form-control" style="width: 300px;"/>
					</div>
					<div class="form-group">
						 <label >详细地址</label>
						 <input  type="text" name="address" class="form-control" style="width: 300px;"/>
						 <p class="help-block label label-warning">请输入详细地址：xxx省xxx市xxx区xxx街道xxx</p>
					</div>
					<button type="submit" class="btn btn-primary">添加</button>
				</form>
			</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
    <script src="/jquery/jquery-2.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/script/docs.min.js"></script>
    <script src="/script/back-to-top.js"></script>
    <script src="/script/echarts.js"></script>
  </body>
</html>